.fondo{
	background-image: url(../images/back.jpg);
	background-size: 100%;
}

::placeholder {
    color: black;
}

.nav_logo{
	margin-top: 7px;
	margin-left: -7px;
	margin-right: 7px;
	width: 130px;
	height: 35px;
}

.body_logo{
	margin-top: 8%;
	width: 1000px;
	height: 400px;
}