.fondo3{
	background: url(../images/mundo2.jpg) no-repeat center center fixed;
	background-size: cover;
}
.divcenter2 {
  margin: auto;
  margin-top: 2%;
  padding: 1%;
  width:70%;
  height:50%;
  align-content: center;
}

.tabla{
	display: flex;
	align-content: space-around;
}

table {
	margin-top: 190;
    border-collapse: collapse;
    display:flex;
    width:570px;
    flex-direction: column;
    margin-right:20px;
    margin-left: auto;
}
tbody{
	display:block;
	overflow:auto;
    height:110px;
    width:100% 
}
thead tr{
	display:inline-flex;
	justify-content: space-around;
	width: 100%;
	margin: auto;

}
th, td {
    padding: 8px;
    text-align: left; 
    width: 20%; 
}

tr:hover {background-color:#576574;}
tr{
	background-color: #353b48;
	color: white;
	display:flex;
	justify-content: space-around;
	border-bottom: 1px solid #ddd;
}



.form-register-tiendas{
	width: 95%;
	max-width: 500px;
	background: nones;
	border-radius: 7px;
	margin-top: 190px;
	margin-left: 60px;
	margin-right: auto;
}
.bp{
	overflow-x: hidden;
	
}

label{
	color:#130f40;
}
select{
	height: 30px;
}